*
 {
    color:#003169;
    transition: all 300ms ease;
 }

.log {
    max-width: 300px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc;
}

.button {
    width: 100%; 
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer;
}

#username {
    width: 100%; 
    padding: 8px; 
    margin: 10px 0;
}

#password {
    width: 100%; 
    padding: 8px; 
    margin: 10px 0;
}