<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart City Panel{% endblock %}</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <style>
        body { margin: 0; font-family: sans-serif; }
    </style>
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
