
<body>
    <!-- Przycisk do otwierania okienka -->
    <button id="openPanel2" onclick="toggleNavAdmin()"><i class="material-icons">settings</i></button>
    <!-- Wysuwane okienko -->
    <div id="sidePanel2" class="panel">
        <ul>
            <div class="MenuHead">

      <li><h2>To jest twój panel ADMINISTRATORA!</h2></li>
            </div>

            <button id="raport" onclick="getMessage_admin()">Wygeneruj raport!</button>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>


<script>
const xValues = ["Kultura", "Sport", "Rozrywka", "Inne"];
const yValues = [114, 16, 51, 47];
const barColors = ["red", "green","blue","orange","brown"];

const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    plugins: {
      legend: {display: false},
      title: {
        display: true,
        text: "Kategorie wydarzeń!",
        font: {size: 16}
      }
    }
  }
});
</script>

      </ul>
    </div>

    



    <script src="/static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/responses.js"></script>
    <script src="/static/js/chat.js"></script>
    <script>
    $('.sidePanel').sliiide({place: 'left', toggle: '#close-btn'});
    </script>
</body>
</html>
