
<body>
    <!-- Przycisk do otwierania okienka -->
    <button id="openPanel"><i class="material-icons">home</i></button>

    <!-- Wysuwane okienko -->
    <div id="sidePanel" class="panel">
        <ul>
            <div class="MenuHead">
                <li><button id="closePanel" class="close-btn" onclick="closeNav()">&times;</button></li>
                <li><h2>Cześć {{ current_user.username }}, to jest twój panel użytkownika!</h2></li>
            </div>
            
            <h1>Checkboxes</h1>
            <label class="container">One
                <input type="checkbox" checked="checked" onclick="fuction1()">
            <span class="checkmark"></span>
            </label>

            <label class="container">Two
                <input type="checkbox" checked="checked" onclick="fuction2()">
            <span class="checkmark"></span>
            </label>

            <label class="container">Three
                <input type="checkbox" checked="checked" onclick="fuction3()">
            <span class="checkmark"></span>
            </label>

            <label class="container">Four
                <input type="checkbox" checked="checked" onclick="fuction4()">
            <span class="checkmark"></span>
            </label>

            <label class="container">Five
                <input type="checkbox" checked="checked" onclick="fuction5()">
            <span class="checkmark"></span>
            </label>

      </ul>
    </div>

     <!-- CHAT BAR BLOCK -->
    <div class="chat-box">
        <div style="padding: 10px; background-color: #f0f0f0;"> Smart City Chat</div>
        <div id="chat-messages">
            <p><strong>AI:</strong> Cześć, co chciałbyś zrobić w Gdańsku?</p>
        </div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Wpisz pytanie...">
            <button onclick="sendMessage()">Wyślij</button>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/responses.js"></script>
    <script src="/static/js/chat.js"></script>
    <!-- <script> -->
    <!-- $('.sidePanel').sliiide({place: 'left', toggle: '#close-btn'}); -->
    <!-- </script> -->
</body>
</html>
