{% block title %} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/templates/styles/login.css">
    <div class="slider-background">
        <div class="slide" id="slide-1"></div>
        <div class="slide" id="slide-2"></div>
        <div class="slide" id="slide-3"></div>
        <div class="slide" id="slide-4"></div>
    </div>
<div class="log">
    <div class="overlay"></div>

    <div class="log-container">
        <div class="log">
            <img src="../static/images/gdansk_logo.webp" alt="Gdansk City Logo" width="25" height="30">
            <h2>Witamy w ALL City Map Gdańsk!</h2>
            <h3>REJSTRACJA</h3>
            
            {% if error %}
                <p class="flash-message alert alert-danger">{{ error }}</p>
            {% endif %}

            <form method="POST">
                <div class="form-group">
                    <i class="material-icons">account_circle</i>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Utwórz nazwę użytkownika" required>
                </div>
                <div class="form-group">
                    <i class="material-icons">lock</i>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Utwórz hasło" required>
                </div>
                <button type="submit" class="button">Zarejestruj się</button>
                <p class="mt-4">
                    Masz już konto? <a href="{{ url_for('login') }}" class="linki">Zaloguj się!</a>
                </p>
            </form>
        </div>
    </div>
    </div>

    <script>
        const slides = document.querySelectorAll('.slide');
        let currentSlide = 0;

        function showSlide(index) {
            slides.forEach((slide, i) => {
                slide.style.opacity = (i === index) ? 1 : 0;
            });
        }

        function nextSlide() {
            currentSlide = (currentSlide + 1) % slides.length;
            showSlide(currentSlide);
        }

        showSlide(currentSlide);
        setInterval(nextSlide, 5000); 
    </script>
{% endblock %}