.popup-menu {
  text-align: center;
  min-width: 150px;
}

.popup-menu button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    border: none;
    background-color: #D4C787;
    color: #171F40;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    transition: background 0.2s;
}

.popup-menu button:hover {
    background-color: #BFA95B;
}

.popup-menu button.btn-add {
  font-weight: bold;
}

.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #e91c01;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ff3b30;
    width: 15px; height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

.live-marker {
    background-color: #ff3b30;
    width: 15px; height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    animation: pulse-red 1.5s infinite;
}

.static-marker {
    background-color: #FFD700;
    width: 18px; height: 18px;
    border-radius: 50%;
    border: 2px solid #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@keyframes pulse-red {
    0% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(255, 59, 48, 0.7); }
    70% { transform: scale(1); box-shadow: 0 0 0 10px rgba(255, 59, 48, 0); }
    100% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(255, 59, 48, 0); }
}

.reset-control {
    display: block;
    width: 100%;
    background: white;
    padding: 5px 10px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #29525E;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.reset-control:hover {
    background: #171F40;
}

.leaflet-top {
    margin-top: 80px;
}