/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    background-color: #29526e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

button:hover {
    background-color: #171f40;
}

/* Wysuwane okienko */
.panel {
    position: fixed;
    top: 0;
    right: -300px; /* Ukrycie okienka po prawej stronie */
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}



/* Gdy okienko jest otwarte */
.panel.open {
    left: 0;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #7f745b;
}



.flash-message {
padding: 10px;
background-color: #f44336;
color: white;
text-align: center;
}

.menu {
background-color: #82c0af;
display: flex;
justify-content: center;
list-style: none;
padding: 0px;
margin: 0;
}
.menu li {
  float: left;
  margin: 0 20px;
}
.menu a {
   background-color: #29526e;
    color: #fff;
    border: 5px;
    margin: 5px;
    padding: 0px 0px;

    cursor: pointer;
}

.nav-link{
    background-color: #29526e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    position: absolute;
    right: 15px;
    float: left;
}

#link1{
    background-color: #29526e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    position: absolute;
    right: 15px;
}
#link2{
    background-color: #29526e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    position: absolute;
    right: 150px;
}

.leaflet-popup-content-wrapper {
    /* position: inherit; */
    background-color: #f4f4f4;
    padding: 5px;
    z-index: 1001;
}
/* #popup { */
/*     position: inherit; */
/*     background-color: #f4f4f4; */
/*     padding: 5px; */
/*     z-index: 1001; */
/* } */
